@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-right1:before {
  content: "\e90e";
}

._icon-envelope-opened:before {
  content: "\e915";
}

._icon-external-link:before {
  content: "\e916";
}

._icon-eye:before {
  content: "\e917";
}

._icon-figma:before {
  content: "\e918";
}

._icon-files:before {
  content: "\e919";
}

._icon-filter-1:before {
  content: "\e91a";
}

._icon-filter-2:before {
  content: "\e91b";
}

._icon-google-hangouts:before {
  content: "\e91c";
}

._icon-grid:before {
  content: "\e91d";
}

._icon-hanger:before {
  content: "\e91e";
}

._icon-heart:before {
  content: "\e91f";
}

._icon-history:before {
  content: "\e920";
}

._icon-home:before {
  content: "\e921";
}

._icon-Info:before {
  content: "\e922";
}

._icon-iphone:before {
  content: "\e923";
}

._icon-layouts:before {
  content: "\e924";
}

._icon-left-right-arrow:before {
  content: "\e925";
}

._icon-likes:before {
  content: "\e926";
}

._icon-list:before {
  content: "\e927";
}

._icon-load:before {
  content: "\e928";
}

._icon-loading:before {
  content: "\e929";
}

._icon-lock:before {
  content: "\e92a";
}

._icon-login:before {
  content: "\e92b";
}

._icon-mail:before {
  content: "\e92c";
}

._icon-mark:before {
  content: "\e92d";
}

._icon-messanger:before {
  content: "\e92e";
}

._icon-mic:before {
  content: "\e92f";
}

._icon-minus-round:before {
  content: "\e930";
}

._icon-mute-off:before {
  content: "\e931";
}

._icon-mute-on:before {
  content: "\e932";
}

._icon-odnoklassniki:before {
  content: "\e933";
}

._icon-off:before {
  content: "\e934";
}

._icon-on:before {
  content: "\e935";
}

._icon-outline:before {
  content: "\e936";
}

._icon-solid:before {
  content: "\e937";
}

._icon-paypal:before {
  content: "\e938";
}

._icon-pinterest:before {
  content: "\e939";
}

._icon-play:before {
  content: "\e93a";
}

._icon-plus-round:before {
  content: "\e93b";
}

._icon-rss:before {
  content: "\e93c";
}

._icon-search:before {
  content: "\e93d";
}

._icon-share:before {
  content: "\e93e";
}

._icon-share-arrow:before {
  content: "\e93f";
}

._icon-shield:before {
  content: "\e940";
}

._icon-skype:before {
  content: "\e941";
}

._icon-slack:before {
  content: "\e942";
}

._icon-slack-filled:before {
  content: "\e943";
}

._icon-star:before {
  content: "\e944";
}

._icon-stripe:before {
  content: "\e945";
}

._icon-twitch:before {
  content: "\e946";
}

._icon-two-arrows:before {
  content: "\e947";
}

._icon-unlock:before {
  content: "\e948";
}

._icon-up-down-select:before {
  content: "\e949";
}

._icon-upload:before {
  content: "\e94a";
}

._icon-linked-In:before {
  content: "\e94b";
}

._icon-facebook:before {
  content: "\e94c";
}

._icon-user:before {
  content: "\e94d";
}

._icon-google:before {
  content: "\e94e";
}

._icon-mention:before {
  content: "\e94f";
}

._icon-gitlab:before {
  content: "\e950";
}

._icon-github:before {
  content: "\e951";
}

._icon-tumblr:before {
  content: "\e952";
}

._icon-telegram:before {
  content: "\e953";
}

._icon-Instagram:before {
  content: "\e954";
}

._icon-instagram-filled:before {
  content: "\e955";
}

._icon-twitter1:before {
  content: "\e956";
}

._icon-vimeo:before {
  content: "\e957";
}

._icon-viber:before {
  content: "\e958";
}

._icon-vk:before {
  content: "\e959";
}

._icon-whatsapp:before {
  content: "\e95a";
}

._icon-wallet:before {
  content: "\e95b";
}

._icon-wechat:before {
  content: "\e95c";
}

._icon-youtube1:before {
  content: "\e95d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
  background-color: #fff;
  color: #424551;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 76.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.button_large {
  padding: 0 42px;
  line-height: 3.25;
}
.button_red {
  color: #fff;
  background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  animation: animateBg 1.3s ease infinite paused;
  background-size: 200%;
}
@media (any-hover: hover) {
  .button_red:hover {
    animation-play-state: running;
    background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f7bf05 100%);
  }
}
.button_gradient {
  position: relative;
  color: #fc4928;
  animation: animateBg 1.3s ease infinite paused;
  background-size: 200%;
  border: 1px solid #fc4928;
  transition: background 0.2s ease-in, color 0.2s ease-in;
}
@media (any-hover: hover) {
  .button_gradient:hover {
    background-color: rgba(252, 73, 40, 0.9);
    color: #fff;
  }
}
.button_regular {
  font-size: 14px;
  line-height: 3.1428571429;
  padding: 0 2rem;
  letter-spacing: 0.03125em;
}
.button_small {
  font-size: 12px;
  padding: 0 1.5rem;
  letter-spacing: 0.0416666667em;
  line-height: 3;
}
@keyframes animateBg {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
.button._fw {
  width: 100%;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 1.5625rem;
  width: 100%;
  max-width: 30.625rem;
  border-radius: 0.25rem;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
@media (min-width: 78.75em) {
  .popup__content {
    	padding-right: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .popup__content {
    	padding-right: clamp( 1.25rem , 0.6117021277rem  +  3.1914893617vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .popup__content {
    	padding-right: 1.25rem;
  }
}
@media (min-width: 78.75em) {
  .popup__content {
    	padding-left: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .popup__content {
    	padding-left: clamp( 1.25rem , 0.6117021277rem  +  3.1914893617vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .popup__content {
    	padding-left: 1.25rem;
  }
}
.lock .popup__content {
  visibility: visible;
}

.popup__close {
  display: block;
  margin: 0 0 0.625rem auto;
  height: 1.5625rem;
  font-size: 1.5rem;
  color: #787a80;
  transition: color 0.2s ease;
}
@media (any-hover: hover) {
  .popup__close:hover {
    color: #fd4729;
  }
}

.popup__title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.5;
  color: #1e212c;
  text-align: center;
}
.popup__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.popup__sub-title {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  color: #787a80;
  margin-bottom: 1.5625rem;
}

.popup__items {
  margin-bottom: 1.25rem;
}

.popup__item {
  position: relative;
}
.popup__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.popup__label {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.popup__input {
  width: 100%;
  border: 1px solid #d7dadd;
  border-radius: 0.25rem;
  height: 2.8125rem;
  padding: 0 1rem;
}

.popup__eye {
  position: absolute;
  top: 42px;
  right: 20px;
}

.popup__keep {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.9375rem;
}
.popup__keep:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.keep__checkbox {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

.keep__link,
.checkbox__text {
  font-size: 0.875rem;
  line-height: 1.5;
}

.keep__link {
  color: #ff3f3a;
}
@media (any-hover: hover) {
  .keep__link:hover {
    text-decoration: underline;
  }
}

.popup__sign-in:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.popup__text {
  border-bottom: 1px solid #e5e8ed;
}
.popup__text:not(:last-child) {
  padding-bottom: 1.5625rem;
}

.popup__text-link {
  color: #ff3f3a;
  font-size: 0.875rem;
  line-height: 1.5;
}

.popup__or-sign {
  text-align: center;
  padding-top: 1.5625rem;
  color: #787a80;
}
.popup__or-sign:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.popup__social-items {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

._icon-linked-In,
._icon-twitter1,
._icon-google,
._icon-facebook {
  font-size: 1.25rem;
  color: #1e212c;
  transition: color 0.2s ease;
}
@media (any-hover: hover) {
  ._icon-linked-In:hover,
._icon-twitter1:hover,
._icon-google:hover,
._icon-facebook:hover {
    color: #fd4729;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title__label {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  color: #1e212c;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.title__label:not(:last-child) {
  margin-bottom: 0.5em;
}
.title__label::before {
  content: "";
  width: 1rem;
  height: 0.125rem;
  background-color: rgba(30, 33, 44, 0.7);
}
.title__value {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}
@media (min-width: 78.75em) {
  .title__value {
    font-size: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .title__value {
    font-size: clamp( 2rem , 1.7021276596rem  +  1.4893617021vw , 2.875rem );
  }
}
@media (max-width: 20em) {
  .title__value {
    font-size: 2rem;
  }
}

.main-title {
  font-weight: 900;
  line-height: 1.296875;
  letter-spacing: 0.015625em;
  color: #1e212c;
}
@media (min-width: 76.875em) {
  .main-title {
    font-size: 4rem;
  }
}
@media (min-width: 29.9375em) and (max-width: 76.875em) {
  .main-title {
    font-size: clamp( 2.5rem , 1.5432756325rem  +  3.1957390146vw , 4rem );
  }
}
@media (max-width: 29.9375em) {
  .main-title {
    font-size: 2.5rem;
  }
}
.main-title p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.decor__1 {
  position: absolute;
  top: 20%;
  left: 8%;
}
.decor__2 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}
.decor__3 {
  position: absolute;
  right: 52%;
  bottom: 47%;
}
.decor__4 {
  position: absolute;
  left: 38%;
  bottom: 23%;
}
.decor__5 {
  position: absolute;
  right: 0;
  top: 10%;
}
.decor__6 {
  position: absolute;
  right: 0;
  bottom: 5%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  min-height: 3.25rem;
  background-color: #feddd0;
}
@media (min-width: 76.875em) {
  .header {
    padding-top: 1.25rem;
  }
}
@media (min-width: 62em) and (max-width: 76.875em) {
  .header {
    padding-top: clamp( 0.625rem , -1.9800420168rem  +  4.2016806723vw , 1.25rem );
  }
}
@media (max-width: 62em) {
  .header {
    padding-top: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .header {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 62em) and (max-width: 76.875em) {
  .header {
    padding-bottom: clamp( 0.625rem , -1.9800420168rem  +  4.2016806723vw , 1.25rem );
  }
}
@media (max-width: 62em) {
  .header {
    padding-bottom: 0.625rem;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  z-index: 3;
}
@media (min-width: 76.875em) {
  .header__logo {
    margin-right: 3.75rem;
  }
}
@media (min-width: 62em) and (max-width: 76.875em) {
  .header__logo {
    margin-right: clamp( 1.5625rem , -7.5551470588rem  +  14.7058823529vw , 3.75rem );
  }
}
@media (max-width: 62em) {
  .header__logo {
    margin-right: 1.5625rem;
  }
}
@media (min-width: 76.875em) {
  .header__logo img {
    width: 8.125rem;
  }
}
@media (min-width: 62em) and (max-width: 76.875em) {
  .header__logo img {
    width: clamp( 6.875rem , 1.6649159664rem  +  8.4033613445vw , 8.125rem );
  }
}
@media (max-width: 62em) {
  .header__logo img {
    width: 6.875rem;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  z-index: 3;
}
@media (min-width: 76.875em) {
  .header__actions {
    column-gap: 2.25rem;
  }
}
@media (min-width: 62em) and (max-width: 76.875em) {
  .header__actions {
    column-gap: clamp( 0.9375rem , -4.5330882353rem  +  8.8235294118vw , 2.25rem );
  }
}
@media (max-width: 62em) {
  .header__actions {
    column-gap: 0.9375rem;
  }
}
.header__register {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
  line-height: 1.6;
  z-index: 3;
  transition: color 0.2s ease-in;
}
@media (max-width: 29.99875em) {
  .header__register {
    font-size: 20px;
  }
}
@media (any-hover: hover) {
  .header__register:hover {
    color: #fd4729;
  }
  .header__register:hover::before {
    width: 100%;
  }
}

.menu__body {
  display: flex;
  align-items: center;
}
@media (min-width: 61.99875em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.625rem;
    margin-right: 0.625rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 76.875em) {
  .menu__list {
    column-gap: 2.5rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 62em) and (max-width: 76.875em) {
  .menu__list {
    column-gap: clamp( 1.25rem , -3.9600840336rem  +  8.4033613445vw , 2.5rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 62em) {
  .menu__list {
    column-gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -110%;
    z-index: 2;
    margin: 0;
    background-color: #fff;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }
  .menu__list::before {
    content: "";
    position: fixed;
    height: 4.5rem;
    background-color: #feddd0;
    width: 100%;
    left: -110%;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }
}
@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .menu__list::before {
    height: 3.25rem;
  }
}
@media (max-width: 61.99875em) {
  .menu-open .menu__list {
    left: 0;
  }
  .menu-open .menu__list::before {
    left: 0;
  }
}
@media (max-width: 61.99875em) {
  .menu__item:first-child {
    padding-top: 110px;
  }
}
.menu__link {
  position: relative;
  font-weight: 700;
  padding-bottom: 0.125rem;
  transition: color 0.2s ease-in;
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  bottom: -2.5px;
  left: 0;
  border-bottom: 2.5px solid #fd4729;
  transition: width 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #fd4729;
  }
  .menu__link:hover::before {
    width: 100%;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 1.5rem;
  }
}
._icon-user {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #1e212c;
  transition: color 0.2s ease-in;
}
@media (max-width: 29.99875em) {
  ._icon-user {
    font-size: 1.75rem;
  }
}
@media (any-hover: hover) {
  ._icon-user:hover {
    color: #fd4729;
  }
}

.js-active-link {
  color: #fd4729;
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    flex: 0 0 1.875rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.main-section {
  position: relative;
  z-index: 5;
  background-color: #feddd0;
  min-height: 100vh;
}
.main-section__container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
@media (min-width: 76.875em) {
  .main-section__container {
    padding-top: 7.5rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 76.875em) {
  .main-section__container {
    padding-top: clamp( 5rem , 0.8585313175rem  +  8.6393088553vw , 7.5rem );
  }
}
@media (max-width: 47.9375em) {
  .main-section__container {
    padding-top: 5rem;
  }
}
.main-section__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 1.25rem;
}
@media (min-width: 78.75em) {
  .main-section__body:not(:last-child) {
    margin-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .main-section__body:not(:last-child) {
    margin-bottom: clamp( 2.5rem , 0.1595744681rem  +  11.7021276596vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .main-section__body:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .main-section__body {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.main-section__play {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
  margin-bottom: 1.5625rem;
}
.main-section__button {
  display: inline-flex;
  flex: 0 0 52px;
  height: 52px;
  width: 52px;
  box-shadow: 0 0 0 #ff3f3a;
  align-items: center;
  background-color: #ff3f3a;
  padding: 1.25rem;
  border-radius: 100%;
  gap: 60px;
  transform: scale(1);
  animation: pulseRed 2s infinite;
}
@keyframes pulseRed {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
.main-section__span {
  font-weight: 700;
  line-height: 1.5;
  color: #1e212c;
}
.main-section__text {
  max-width: 31rem;
  width: 100%;
}
@media (min-width: 78.75em) {
  .main-section__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .main-section__text:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .main-section__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.main-section__buttons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem;
  column-gap: 1.5625rem;
}
@media (max-width: 42.1875em) {
  .main-section__buttons {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .main-section__buttons {
    justify-content: space-around;
  }
}
.main-section__image {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding-bottom: 91.5282392027%;
}
.main-section__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

@media (min-width: 78.75em) {
  .main-section__statistics {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .main-section__statistics {
    padding-bottom: clamp( 2.5rem , 1.6489361702rem  +  4.2553191489vw , 5rem );
  }
}
@media (max-width: 20em) {
  .main-section__statistics {
    padding-bottom: 2.5rem;
  }
}

.statistics__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 0.625rem;
}
.statistics__item {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
@media (min-width: 47.99875em) {
  .statistics__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 61.99875em) {
  .statistics__item {
    flex-direction: column;
  }
}
.statistics__item:not(:last-child)::after {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ff3f3a;
}
@media (max-width: 61.99875em) {
  .statistics__item:not(:last-child)::after {
    display: none;
  }
}
.statistics__number {
  font-weight: 900;
  line-height: 1.3043478261;
  color: #1e212c;
}
@media (min-width: 78.75em) {
  .statistics__number {
    font-size: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  .statistics__number {
    font-size: clamp( 2rem , 1.7021276596rem  +  1.4893617021vw , 2.875rem );
  }
}
@media (max-width: 20em) {
  .statistics__number {
    font-size: 2rem;
  }
}
.statistics__text {
  font-size: 16px;
  line-height: 1.625;
  color: #1e212c;
}
@media (min-width: 76.875em) {
  .statistics__text {
    margin-right: 1.875rem;
  }
}
@media (min-width: 62.5625em) and (max-width: 76.875em) {
  .statistics__text {
    margin-right: clamp( 0rem , -8.1959606987rem  +  13.1004366812vw , 1.875rem );
  }
}
@media (max-width: 62.5625em) {
  .statistics__text {
    margin-right: 0rem;
  }
}
