body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
body.popup-show::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	padding-top: 25px;
	padding-right: 50px;
	@include adaptiveValue("	padding-right", 50, 20);
	@include adaptiveValue("	padding-left", 50, 20);
	padding-bottom: rem(25);

	width: 100%;
	max-width: rem(490);
	border-radius: rem(4);
	border: 1px solid #e5e8ed;
	box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1),
		0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);

	.lock & {
		visibility: visible;
	}
}
//========================================================================================================================================================
.popup__form {
}
.popup__close {
	display: block;
	margin: 0 0 rem(10) auto;
	height: rem(25);
	font-size: rem(24);
	color: $grayColor;
	transition: color 0.2s ease;
	@media (any-hover: hover) {
		&:hover {
			color: $hoverColor;
		}
	}
}
.popup__title {
	font-weight: 700;
	font-size: rem(28);
	line-height: math.div(42, 28);
	color: $titleColor;
	text-align: center;
	&:not(:last-child) {
		margin-bottom: rem(24);
	}
}
.popup__sub-title {
	font-size: rem(14);
	line-height: math.div(21, 14);
	text-align: center;
	color: $grayColor;
	margin-bottom: rem(25);
}
.popup__items {
	margin-bottom: rem(20);
}
.popup__item {
	position: relative;
	&:not(:last-child) {
		margin-bottom: rem(20);
	}
}
.popup__chapter {
}
.popup__label {
	display: flex;
	font-size: rem(14);
	line-height: math.div(21, 14);
	margin-bottom: rem(8);
}
.popup__input {
	width: 100%;
	border: 1px solid #d7dadd;
	border-radius: rem(4);
	height: rem(45);
	padding: 0 rem(16);
}
.popup__eye {
	position: absolute;
	top: 42px;
	right: 20px;
}
.popup__icon {
}
._icon-eye {
}
//========================================================================================================================================================

.popup__keep {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: rem(15);
	&:not(:last-child) {
		margin-bottom: rem(25);
	}
}
.keep {
}
.keep__checkbox {
	display: flex;
	align-items: center;
	column-gap: rem(10);
}
.checkbox__input {
}
.checkbox__label {
}
.keep__link,
.checkbox__text {
	font-size: rem(14);
	line-height: math.div(21, 14);
}
.keep__link {
	color: #ff3f3a;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}
.popup__sign-in {
	&:not(:last-child) {
		margin-bottom: rem(25);
	}
}
.button {
}
.button_large {
}
.button_red {
}
._fw {
}
.popup__text {
	border-bottom: 1px solid #e5e8ed;
	&:not(:last-child) {
		padding-bottom: rem(25);
	}
}
.popup__text-link {
	color: #ff3f3a;
	font-size: rem(14);
	line-height: math.div(21, 14);
}
.popup__or-sign {
	text-align: center;
	padding-top: rem(25);
	color: $grayColor;
	&:not(:last-child) {
		margin-bottom: rem(25);
	}
}
.popup__social-items {
	display: flex;
	justify-content: center;
	column-gap: rem(12);
	._icon-linked-In,
	._icon-twitter1,
	._icon-google,
	._icon-facebook {
		font-size: rem(20);
		color: $titleColor;
		transition: color 0.2s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $hoverColor;
			}
		}
	}
}
.popup__social-item {
}
.popup__social-link {
}

._icon-google {
}
._icon-twitter1 {
}
._icon-linked-In {
}
